<div class="g-main">
    <div class="g-title" style="font-size: 30px;">Hướng dẫn sử dụng</div>
    <div class="g-intro">
        <p style="font-size: 25px;">Tổng quan</p>
        <p>Tool hỗ trợ việc clone item từ amazon về máy tính, sau đó <span style="color: red"> tự list bằng tay lên ebay</span></p>
    </div>
    <div class="step">
        <p style="font-size: 18px;">Step 1: Copy link sản phẩm amazon dán vào ô input link amz</p>
        <p>Ấn GET</p>
        <img src="../../../assets/img/listing/step1.png" style="width: 800px">
        <p>Hệ thống sẽ tự get ảnh amz, thêm logo của shop và download về</p>
        <img src="../../../assets/img/listing/step2.png" style="width: 800px">
        <p>Hệ thống sẽ get 5 đặc trưng của sản phẩm, điền vào template của shop</p>
        <img src="../../../assets/img/listing/step3.png" style="width: 800px">
    </div>

    <div class="step">
        <p style="font-size: 18px;">Step 2: Thêm ảnh chính vào mô tả</p>
        <p>Ở phần mô tả mà hệ thống tự gen ra, chưa có ảnh chính, phải tự upload và điền link</p>
        <p>Chọn trong số các ảnh đã được download về 1 ảnh đẹp, đầy đủ</p>
        <img src="../../../assets/img/listing/B0856XN7C2_0.png" style="width: 800px">
        <p>Sử dụng trang <a href="" target="_blank">https://imgbb.com/</a> upload ảnh đó lên</p>
        <img src="../../../assets/img/listing/step4.png" style="width: 800px">
        <p>Upload</p>
        <img src="../../../assets/img/listing/step5.png" style="width: 800px">
        <p>Lấy link từ trang đó và dán vào mục Nhập link ảnh main</p>
        <img src="../../../assets/img/listing/step6.png" style="width: 800px">
        <p>Kết quả</p>
        <img src="../../../assets/img/listing/step7.png" style="width: 800px">
    </div>

    <div class="step">
        <p style="font-size: 18px;">Step 3: List hàng lên ebay</p>
        <p>Ở mục up ảnh, chọn các ảnh đã được download</p>
        <p>Ở mục Description của ebay, chọn Html, quay lại trang này nhấn COPY DESCRIPTION, quay lại ebay và paste vào</p>
        <p>Chú ý: nếu trong mục mô tả của amazon có sđt, email thì phải tìm và xóa nó đi</p>
    </div>

    <div class="step">
        <p style="font-size: 18px;">Done! Kiểm tra lại sản phẩm sau khi đăng lên ebay có bị vỡ layout mục description ko</p>
    </div>
</div>